In [121]:
import pandas as pd
station_info = pd.read_csv("C:/Users/ASIA/Downloads/SBJ_20~1/02.자전거스테이션.csv")

bicycle = pd.read_csv("C:/Users/ASIA/Downloads/SBJ_20~1/01.운영이력.csv")

C:\Users\ASIA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [125]:
# 대여 -반납 정류소만 뽑았음.
bicycle = bicycle[["LEAS_STATION","RTN_STATION"]]   

# 대여와 반납을 따로 나누어 추출함
bicycle_leas = pd.DataFrame(bicycle["LEAS_STATION"])    # 대여 정류소만 뽑음
bicycle_rtn = pd.DataFrame(bicycle["RTN_STATION"])       # 반납 정류소만 뽑음.

bicycle_leas['X'] = 0
bicycle_leas['Y'] = 0
bicycle_leas['count'] = 1

bicycle_leas = bicycle_leas.groupby(by = ['LEAS_STATION']).sum()

bicycle_leas.reset_index()

bicycle_leas = bicycle_leas.reset_index().rename(columns={"index": "LEAS_STATION"})

for i in range(len(bicycle_leas['LEAS_STATION'])):
    for j in range(len(station_info['Station_ID'])):
        if bicycle_leas['LEAS_STATION'].iloc[i] == station_info['Station_ID'].iloc[j] :
            bicycle_leas['X'].iloc[i] = station_info['위도'].iloc[j]
            bicycle_leas['Y'].iloc[i] = station_info['경도'].iloc[j]
            break
bicycle_leas = bicycle_leas.sort_values(by ='count', ascending=False)

bicycle_leas = bicycle_leas.reset_index()

del bicycle_leas['index']
bicycle_leas

C:\Users\ASIA\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

     LEAS_STATION          X           Y  count
0             253  37.663241  126.762162  83134
1             254  37.655647  126.768352  78594
2             309  37.671278  126.761898  78272
3             259  37.656722  126.771620  70746
4             210  37.663673  126.767099  69549
..            ...        ...         ...    ...
151           265  37.661296  126.750847    767
152           264  37.664403  126.748019    688
153           351  37.702259  126.767231    473
154           263  37.661579  126.747736    253
155           998   0.000000    0.000000     25

[156 rows x 4 columns]

In [126]:
# 대여 -반납 정류소만 뽑았음.
bicycle = bicycle[["LEAS_STATION","RTN_STATION"]]  
# 대여와 반납을 따로 나누어 추출함
bicycle_leas = pd.DataFrame(bicycle["LEAS_STATION"])    # 대여 정류소만 뽑음
bicycle_rtn = pd.DataFrame(bicycle["RTN_STATION"])       # 반납 정류소만 뽑음.

bicycle_rtn['X'] = 0
bicycle_rtn['Y'] = 0
bicycle_rtn['count'] = 1

bicycle_rtn = bicycle_rtn.groupby(by = ['RTN_STATION']).sum()

bicycle_rtn.reset_index()

bicycle_rtn = bicycle_rtn.reset_index().rename(columns={"index": "RTN_STATION"})

for i in range(len(bicycle_rtn['RTN_STATION'])):
    for j in range(len(station_info['Station_ID'])):
        if bicycle_rtn['RTN_STATION'].iloc[i] == station_info['Station_ID'].iloc[j] :
            bicycle_rtn['X'].iloc[i] = station_info['위도'].iloc[j]
            bicycle_rtn['Y'].iloc[i] = station_info['경도'].iloc[j]
            break
bicycle_rtn = bicycle_rtn.sort_values(by ='count', ascending=False)

bicycle_rtn = bicycle_rtn.reset_index()

del bicycle_rtn['index']
bicycle_rtn

C:\Users\ASIA\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

     RTN_STATION          X           Y   count
0              0   0.000000    0.000000  398234
1            253  37.663241  126.762162   83718
2            254  37.655647  126.768352   81279
3            309  37.671278  126.761898   75719
4            210  37.663673  126.767099   72191
..           ...        ...         ...     ...
153          264  37.664403  126.748019     759
154          263  37.661579  126.747736     425
155          351  37.702259  126.767231     406
156          998   0.000000    0.000000      21
157          999   0.000000    0.000000      10

[158 rows x 4 columns]