In [ ]:
import pandas as pd

In [ ]:
# 파일 불러오기
bicycle = pd.read_csv('01.운영이력.csv')
station_info = pd.read_csv('02.자전거스테이션.csv')

# 코드 설명 - 02.자전거 스테이션 - 
 - 현재 기준의 고양시 공공자전저 스테이션 위치 정보입니다.
- Station_ID    스테이션 고유 번호
- STATION_NAME    스테이션 이름 (◆:19년도 하반기 이후 신설/★:18년도 하반기 이전 - 신설/그외 미표기 스테이션은 초기설치)
- 거치대 수량    자전거 최대 수용량
- 위도    스테이션의 위도
- 경도    스테이션의 경도

In [ ]:
# 대여 -반납 정류소만 뽑았음.
bicycle = bicycle[["LEAS_STATION","RTN_STATION"]]

In [ ]:
# 대여와 반납을 따로 나누어 추출함
bicycle_leas = pd.DataFrame(bicycle["LEAS_STATION"])    # 대여 정류소만 뽑음
bicycle_rtn = pd.DataFrame(bicycle["RTN_STATION"])       # 반납 정류소만 뽑음.

In [ ]:
# 대여한 정류소들 위치 채우기
# 약 6시간 이상 소요!!
bicycle_leas['X'] = 0
bicycle_leas['Y'] = 0


for i in range(len(bicycle_leas['LEAS_STATION'])):
    for j in range(len(station_info['Station_ID'])):
        if bicycle_leas['LEAS_STATION'].iloc[i] == station_info['Station_ID'].iloc[j] :
            bicycle_leas['X'].iloc[i] = station_info['위도'].iloc[j]
            bicycle_leas['Y'].iloc[i] = station_info['경도'].iloc[j]
            break

C:\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
# 완료된 파일을 csv로 저장하기
bicycle_leas
bicycle_leas.to_csv('bicycle_leas.csv',mode='w')

In [ ]:
# 이번엔 반납한 곳 위치 채우기
# 약 6시간 이상 소요!!
bicycle_rtn['X'] = 0
bicycle_rtn['Y'] = 0


for i in range(len(bicycle_rtn['RTN_STATION'])):
    for j in range(len(station_info['Station_ID'])):
        if bicycle_rtn['RTN_STATION'].iloc[i] == station_info['Station_ID'].iloc[j] :
            bicycle_rtn['X'].iloc[i] = station_info['위도'].iloc[j]
            bicycle_rtn['Y'].iloc[i] = station_info['경도'].iloc[j]
            break

In [ ]:
# 완료된 파일을 csv로 저장하기
bicycle_rtn
bicycle_rtn.to_csv('bicycle_rtn.csv',mode='w')

In [ ]:
# groupby와 count로 스테이션별로 총 대여가 얼마나 이루어졌는지 보기
a_leas = bicycle_leas.groupby(by='LEAS_STATION').count()
b_leas = a_leas.sort_values(by='X',ascending=False)

In [ ]:
# 집계된 자료 살펴보기 = 대여수가 높은 10개 스테이션
b_leas.head(10)

In [ ]:
# 집계된 자료 살펴보기 - 대여수가 낮은 10개 스테이션
b_leas.tail(10)

In [ ]:
# 불필요한 칼럼 삭제, 이름 재설정
del b_leas['X']
b_leas = b_leas.rename(columns = {"Y":"정류장 이용 건수"})

In [ ]:
b_leas

In [ ]:
#RTN으로 파일만들기 - b_leas와 같은 작업
a_rtn = bicycle_rtn.groupby(by='RTN_STATION').count()

# 많은 순으로 뽑음
b_rtn = a_rtn.sort_values(by='X',ascending=False)
del b_rtn['X']
b_rtn = b_rtn.rename(columns = {"Y":"정류장 이용 건수"})

In [ ]:
# 대여가 많은 순으로 정류장 number를 뽑은 데이터
b_leas

In [ ]:
# 반납이 많은 순으로 정류장 number를 뽑은 데이터
b_rtn

              정류장 이용 건수         위도          경도
LEAS_STATION
253               83134  37.663241  126.762162
254               78594  37.655647  126.768352
309               78272  37.671278  126.761898
259               70746  37.656722  126.771620
210               69549  37.663673  126.767099
...                 ...        ...         ...
265                 767  37.661296  126.750847
264                 688  37.664403  126.748019
351                 473  37.702259  126.767231
263                 253  37.661579  126.747736
998                  25   0.000000    0.000000

[156 rows x 3 columns]